@mixin flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.clientes {
    background-color: #f8f8f8;
    text-align: center;
    list-style: inside;

}

.cardclientes { /*mixin*/
    @include flex-center;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 30px;
    width: 75%;
    margin-bottom: 30px;
    max-width: 100%;
}

